.details {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    padding: 16px;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
}



.assignments {
    padding: 1rem 5rem;
    list-style: none;
    margin: 0;
}

